
body{
    background-image: url("../style-image/image_home.jpg");
    background-color: #d1bce8;
    background-repeat: no-repeat; /* Empêche la répétition de l’image */
    /* Optionnel : positionner l’image */
    background-position: center;  /* Centre l’image dans la section */
    /* Optionnel : adapter la taille de l’image */
    background-size: cover;   }
/*login form */
p {
    color: #0e0d0d;
    padding-top:10px ;
    font-style: italic;
font-family: "Comfortaa SemiBold" ;
    font-size: larger;
}
.welcome{
    color: #0e0d0d;
    font-style: italic;
    font-family: "Comfortaa SemiBold" ;
    font-size: small;
    padding-top: 0px;
    margin-top: 0px;

}
#login {
    display: flex;
    flex-direction: column;
    background-color: #cab3df;
    ;
border-radius: 15px;
  gap: 5px;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(202, 179, 223); /* Fond semi-transparent */

}

button {
    color: #0e0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

label {
    color: #120a0a;
    font-family: "Cantarell  Bold";
    text-align: left;
    font-size: 15px;

}

.header-to {
    display: flex;
    text-align: center;
    padding-left: 500px;
    padding-top: 100px;
}

style-sapace {
    width: 200px;
    padding-right: 200px;
    height: 10px;
}
input[type="text"], input[type="password"]{
    width: 100%;
    margin-top: 5px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}


.t {
    display: flex;
    justify-content: center; /* Centre horizontalement */

}

.enter_information {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;

}


.btn {
    width: 100%;

    margin-top: 0px;
    padding: 10px 20px;
    background-color: #a5a8e5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


space-btn{
    display: flex;
    gap: 50px;
}
