
p {
    color: #0e0d0d;
    padding-top: 10px;
    font-style: italic;
    font-family: "Comfortaa SemiBold";
    font-size: larger;
}

#login {
    display: flex;
    flex-direction: column;
    background-color: #1c1cae;
    gap: 20px;
    border-radius: 20px;
    text-align: center;
    background-image: url("../style-image/login_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    box-shadow: 0px 8px 20px 5px #00000014;

    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.32); /* Fond semi-transparent */
    width: 460px;
}

button {
    color: #0e0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

label {
    color: #120a0a;
    font-family: "Cantarell  Bold";
    text-align: left;
    font-size: 15px;}

.header-to {
    display: flex;
    text-align: center;
    padding-left: 500px;
    padding-top: 100px;
}

style-space {
    width: 200px;
    padding-right: 200px;
    height: 10px;
}

.enter_information {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;
}

#errors_message{
    font-size: 12px;
    padding: 0px;
    text-align: left;
    font-style: normal;
    color: red;
}





















