

/*login form */
p {
    color: #0e0d0d;
    padding-top:10px ;
    font-style: italic;
font-family: "Comfortaa SemiBold" ;
    font-size: larger;
}

#login {
    display: flex;
    flex-direction: column;
    background-color: #1c1cae;
    gap: 20px;
    box-shadow: 0px 8px 20px 5px #00000014;

    width: 500px;
    border-radius: 20px;
    text-align: center;
    background-image: url("../image/login_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.32); /* Fond semi-transparent */

}

button {
    color: #0e0d0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

label {
    color: #0e0d0d;
}

.header-to {
    display: flex;
    text-align: center;
    padding-left: 500px;
    padding-top: 100px;
}

style-sapace {
    width: 200px;
    padding-right: 200px;
    height: 10px;
}

input type {
    width: 40%;
}

.t {
    display: flex;
    gap: 180px;
}

.enter_information {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;

}


